:root {
    --pink-color: #F16D7F;
    --black-color: #222;
    --white-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, Arial, sans-serif;
}

img {
    vertical-align: middle;
}

.img-fluid {
    max-width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 16px;
}

/* Header */
.header {
    height: 75px;
    background-color: var(--black-color);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left__item {
    text-decoration: none;
}

.header-left__item:last-child {
    margin-left: 40px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right__item {
    text-decoration: none;
    display: none;
    margin-left: 25px;
}

.header-right__item:first-child {
    display: block;
}

.header-right__item:last-child {
    margin-left: 40px;
}

.cart-item {
    position: relative;
}

.products-number {
    position: absolute;
    top: -7px;
    right: -7px;
    background-color: var(--pink-color);
    border-radius: 50%;
    color: var(--white-color);
    width: 19px;
    height: 19px;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
}

/* Top menu */
.menu-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 10;
}

.top-menu--wrap {
    position: absolute;
    top: 0;
    right: 0;
    width: 230px;
    height: 100%;
    background-color: var(--white-color);
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 37px 20px 0 34px;
}

.top-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
}

.top-menu .first-level-item {
    padding-top: 10px;
}

.top-menu .first-level-item > a {
    text-transform: uppercase;
    color: var(--pink-color);
    text-decoration: none;
}

.menu-close {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #6F6E6E;
    font-size: 18px;
}

.top-menu__title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.top-menu .sub-menu {
    margin: 0;
    padding: 10px 0 0 20px;
    list-style: none;
}

.top-menu .sub-menu li {
    padding: 5px 0;
}

.top-menu .sub-menu a {
    text-decoration: none;
    color: #6F6E6E;
}

/* Heading section */
.heading-section {
    background-color: #F8F3F4;
}

.heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 46px;
}

.heading-container h1 {
    text-transform: uppercase;
    color: var(--pink-color);
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 32px;
}

.breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.breadcrumbs li {
    font-size: 14px;
    text-transform: uppercase;
    padding-right: 5px;
}

.breadcrumbs li + li::before {
    content: '/';
    padding-right: 5px;
    color: #636363;
}

.breadcrumbs li a {
    text-decoration: none;
    color: #636363;
}

.breadcrumbs li:last-child {
    font-weight: bold;
    color: var(--pink-color);
}

/* Subscribe */
.section-subscribe {
    background: url(../images/subscribe_bg.jpg) 0 0 / cover no-repeat;
}

.subscribe-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 110px;
    color: var(--black-color);
}

.subscribe-feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
}

.user-image {
    background: url(../images/user_image.png) 50% 50% / cover no-repeat;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin-bottom: 30px;
}

.user-feeback {
    font-size: 18px;
}

.subscribe-form__wrap {
    text-align: center;
    max-width: 356px;
}

.subscribe-form__title {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 22px;
}

.subscribe-form__title h2 {
    font-size: 24px;
}

.subscribe-form {
    display: flex;
}

.form-input {
    border: 0;
    background-color: #E1E1E1;
    height: 46px;
    padding: 0 20px;
    font-size: 14px;
    border-radius: 23px 0 0 23px;
    flex-grow: 1;
}

.form-button {
    background-color: var(--pink-color);
    color: var(--white-color);
    text-align: center;
    font-size: 14px;
    height: 46px;
    border: 0;
    padding: 0 20px;
    border-radius: 0 23px 23px 0;
    cursor: pointer;
}

/* Footer */
.footer {
    height: 143px;
    background-color: var(--black-color);
}

.footer-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copy {
    order: 1;
    font-size: 16px;
    color: var(--white-color);
}

.social-links {
    display: flex;
    order: 0;
    margin-bottom: 40px;
}

.social-links a {
    width: 32px;
    height: 32px;
    line-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    margin: 0 3px;
}

.social-links a:hover {
    background-color: var(--pink-color);
}

.social-links svg {
    fill: black;
}

.social-links a:hover svg {
    fill: #fff;
}

/* Tablet */
@media (min-width: 768px) {
    .header-right__item {
        display: block;
    }

    .heading-container {
        flex-direction: row;
        padding-top: 65px;
        padding-bottom: 65px;
    }

    .heading-container h1 {
        margin-bottom: 0;
    }

    .subscribe-container {
        padding-bottom: 140px;
    }

    .subscribe-feedback {
        max-width: 360px;
    }

    .subscribe-form__title {
        font-size: 18px;
    }

    .subscribe-form__wrap {
        min-width: 340px;
    }

    .user-feeback {
        font-size: 20px;
    }

    .footer {
        height: 79px;
    }

    .footer-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .copy {
        order: 0;
    }

    .social-links {
        order: 1;
        margin-bottom: 0;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .subscribe-container {
        flex-direction: row;
        padding-top: 100px;
        padding-bottom: 150px;
    }

    .subscribe-feedback {
        margin-bottom: 0;
    }

    .subscribe-form__wrap {
        margin-right: 100px;
    }
}

@media (min-width: 1170px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}